@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
.et_header_style_left #et-top-navigation,
.et_header_style_split #et-top-navigation {
  padding: 30px 0 0 !important; }

#top-menu-nav > ul > li > a,
.nav ul li a {
  transition: color 300ms ease-out; }
  #top-menu-nav > ul > li > a:hover,
  .nav ul li a:hover {
    opacity: 1 !important;
    color: #e92c29 !important;
    background-color: transparent !important; }

#top-menu {
  position: relative;
  top: -10px;
  font-size: 0; }
  #top-menu:before {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #c2c2c2; }
  #top-menu > li {
    position: relative;
    text-transform: uppercase;
    padding: 0 12px;
    border-right: 1px solid #c2c2c2; }
    #top-menu > li:first-child {
      position: relative; }
      #top-menu > li:first-child:before {
        content: '';
        position: absolute;
        top: -20px;
        right: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid #c2c2c2; }
    #top-menu > li.current-menu-item > a {
      color: #e92c29; }
    #top-menu > li:last-child {
      border-right: 0;
      padding-right: 12px !important; }
    #top-menu > li > a {
      padding-bottom: 0 !important;
      line-height: 40px; }
    #top-menu > li li {
      width: 100%;
      padding: 0;
      border-bottom: 1px solid #c2c2c2; }
      #top-menu > li li:last-child {
        border-bottom: 0; }
      #top-menu > li li a {
        width: 100%; }

.nav li .sub-menu {
  position: absolute;
  left: -1px;
  right: -3px;
  border: 1px solid #c2c2c2;
  border-top: 0;
  padding: 0;
  width: 100%;
  text-align: center; }

#main-header {
  box-shadow: none; }
  #main-header .container {
    position: relative;
    padding-top: 30px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2; }
    #main-header .container:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: -20px;
      bottom: 0;
      left: -20px;
      border-left: 1px solid #c2c2c2;
      border-right: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2; }
  #main-header .logo_container {
    position: absolute; }
    #main-header .logo_container:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: -20px;
      bottom: 40px;
      left: -20px;
      border-top: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2; }
    #main-header .logo_container > a {
      position: relative;
      top: -20px;
      padding-left: 5px; }

.home-hero.et_pb_section {
  padding: 0 !important; }

.age-of-light-hero {
  position: relative;
  padding: 140px 60px !important;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2; }
  .age-of-light-hero:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -20px;
    bottom: 0;
    left: -20px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2; }

.age-of-light-hero {
  background-image: url(svgs/diamonds.svg);
  background-position: center -300px;
  background-size: 115%; }
  .age-of-light-hero .et_pb_image_wrap {
    position: absolute;
    width: 450px;
    left: 0;
    top: -100px; }
    .age-of-light-hero .et_pb_image_wrap img {
      transform: rotate(4deg); }

.advance-praise {
  min-height: 500px;
  background-color: #faecd4;
  background-image: url(svgs/lace.svg);
  background-size: 130%;
  background-position: center center; }
