@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

$light-gray: #c2c2c2;
$red: #e92c29;
$brown: #694230;
$yellow: #f2b54e;
$gray: #3d4543;
$tan: #faecd4;
$white: #ffffff;
$tan-yellow: #edc17c;

$montserrat: Montserrat,Helvetica,Arial,sans-serif;

/*
.et_header_style_left #et-top-navigation,
.et_header_style_split #et-top-navigation {
  padding: 30px 0 0 !important;
}
*/

a:not(.et_pb_button):not(.et-pb-arrow-prev):not(.et-pb-arrow-next) {
  &:link { color: $brown; text-decoration: underline; }
  &:visited { color: $brown; }
  &:hover { text-decoration: none; color: $red; }
}

#main-footer {
  > .et_pb_section {
    background-color: $tan;

    .connect-with {
      position: relative;
      color: $brown;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      font-family: $montserrat;
      width: 200px;
      height: 32px;

      > span {
        position: absolute;
        bottom: 0;
        line-height: 16px;
      }
    }

    .icon {
      background-color: $brown;
      border-radius: 50%;
    }
  }
}

.entry-content {
  > .et_pb_section {
    > .et_pb_row {
      @extend .bordered-column;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &:first-child .et_pb_row:first-child {
      @extend .diamond-background;
    }
  }
}

#tribe-events-pg-template {
  position: relative;
  padding: 2rem;
  background-repeat: no-repeat;
  @extend .bordered-column;
  @extend .diamond-background;
}

#tribe-bar-form {
  label {
    font-size: 15px;
    font-family: $montserrat;
  }

  input[type="text"] {
    font-size: 15px;
    font-family: $montserrat;
    margin-top: 2px;
  }

  .tribe-bar-submit {
    input[type="submit"] {
      background-color: $brown;
      font-size: 15px;
      color: $white;
      text-transform: uppercase;
      font-family: $montserrat;
    }
  }
}

.tribe-events-page-title {
  font-family: $montserrat;
  line-height: 1.8em;
  font-size: 30px;
  font-weight: 500;
}

.tribe-bar-views-list span[class^="tribe-icon-"] {
  font-family: $montserrat;
  line-height: 16px;
  font-size: 15px;
}

#tribe-events-content {
  a {
    font-size: 15px;
    font-family: $montserrat;
  }
}

.tribe-events-button {
  font-size: 15px;
  font-family: $montserrat;
}

.tribe-events-list {
  .type-tribe_events:first-of-type {
    margin-top: 0;
  }
}

.tribe-events-event-wrapper {
  overflow: hidden;
}

.tribe-events-loop {
  .tribe-events-list-event-title {
    > .tribe-event-url {
      font-size: 18px !important;
      font-weight: bold !important;
    }
  }

  .tribe-event-schedule-details {
    font-size: 16px;
    font-family: $montserrat;
    font-weight: normal;
  }

  .tribe-events-venue-details {
    font-size: 16px;
    font-family: $montserrat;
  }

  .tribe-events-list-event-description {
    font-family: $montserrat;
    font-size: 15px;
  }
}

.wpcf7-form {
  label {
    font-weight: bold;
    font-family: $montserrat;
    font-size: 15px;
  }

  .wpcf7-form-control-wrap {
    display: block;

    > input, > textarea {
      padding: 8px;
      font-size: 15px;
      font-family: Helvetica,Tahoma,sans-serif;
    }

    > textarea {
      width: 100%;
      min-height: 400px;
    }
  }

  .wpcf7-submit {
    background-color: $brown;
    color: $white;
    font-family: $montserrat;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: 0;
    padding: 8px 15px;
    cursor: pointer;
    float: right;
  }
}

.et_pb_section {
  padding: 0 !important;

  .et_pb_row:first-child {
    padding-top: 60px;
  }

  .et_pb_row:last-child {
    padding-bottom: 60px;
  }
}

.et_menu_top_gap {
  height: 40px;

  &:before {
    position: absolute;
    content: '';
    left: -20px;
    right: -20px;
    bottom: 0;
    border-bottom: 1px solid $light-gray;
  }
}

.diamond-background {
  background-image: url(svgs/diamonds.svg);
  background-position: center -300px;
  background-size: 115%;
}

.bordered-column {
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -20px;
    bottom: 0;
    left: -20px;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
}

.bordered-bottom {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: -20px;
    right: -20px;
    top: calc(100% - 50px);
    bottom: 30px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
  }
}

.et_pb_slide_description {
  h2 {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 100%;
      width: 100%;
      height: 10px;
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
    }
  }

  h1, h2, h3, p {
    text-shadow: none;
  }
}

.et_pb_slide_description,
.et_pb_slider_fullwidth_off .et_pb_slide_description {
  padding: 170px 8%;
}

.et_pb_slide_title {
  line-height: 1.1 !important;
}

#page-container {
  overflow: hidden;
  padding-top: 95px;
}

#main-header {
  box-shadow: none;

  &.et-fixed-header {
    box-shadow: none !important;
  }

  .et_menu_container {
    display: flex;

    > .header-left {
      flex: 1 1 auto;
      position: static;
      width: auto;
      height: auto;
      align-self: center;
      padding: 0 12px;
      max-height: 55px;

      #logo {
        max-height: 50px;
      }
    }

    > .header-right {
      flex: 0 0 auto;
      float: none;
      padding-left: 0 !important;
    }

    &:before {
      border-bottom: 1px solid $light-gray;
    }
  }
}

#top-menu-nav {
  position: relative;
  padding-top: 20px;
  border-left: 1px solid $light-gray;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: -20px;
    bottom: 0;
    left: 0;
    border-top: 1px solid $light-gray;
  }
}

#top-menu#top-menu {
  font-size: 0;

  li {
    text-transform: uppercase;
    padding: 0 12px !important;
    border-right: 1px solid $light-gray;

    li {
      width: 100%;
      border-right: 0;

      a {
        width: 100%;
      }
    }

    &, &.current-menu-item, &.current-menu-ancestor {
      > a {
        display: block;
        padding: 0 !important;
        height: 35px;
        line-height: 35px;
        color: rgba(0, 0, 0, .6);
      }
    }

    &.menu-item-has-children {
      > a {
        padding: 0 20px 0 0 !important;
      }
    }

    &.current-menu-item:not(.menu-item-has-children) {
      > a {
        color: $red;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }
}

#et-top-navigation {
  padding-top: 0 !important;
}

#top-menu-nav > ul > li > a,
.nav ul li a {
  transition: color 300ms ease-out;
  &:hover {
    opacity: 1 !important;
    color: $red !important;
    background-color: transparent !important;
  }
}

.nav li .sub-menu {
  position: absolute;
  left: -1px;
  right: -3px;
  border: 1px solid #c2c2c2;
  border-top: 0;
  padding: 0;
  width: calc(100% + 2px);
  text-align: center;
}

#age_of_light {
  padding: 0 60px !important;
  display: flex;

  > .et_pb_column {
    flex: 1 1 auto;
    align-self: center;

    &:first-child {
      padding: 50px 0;
    }
  }
}

.age-of-light-hero {
  background-image: url(svgs/diamonds.svg);
  background-position: center -300px;
  background-size: 115%;

  .et_pb_image_wrap {
    transform: translateY(5%);
    /*
    position: absolute;
    width: 450px;
    left: 0;
    top: -100px;
    */

    img {
      transform: rotate(4deg);
    }
  }
}

#home_slider_wrapper {
  position: relative;
  background-color: #faecd4;
  background-image: url(svgs/lace.svg);
  background-size: 130%;
  background-position: center center;
}

.deco-pattern {
  position: relative;
  background-color: $tan;
  background-image: url(svgs/lace.svg);
  background-size: 130%;
  background-position: center center;
}

.diamond-pattern {
  position: relative;
  background-color: $tan-yellow;
  background-image: url(svgs/diamonds-light.svg);
  background-size: 100%;
  background-position: center center;
}

#slider_tower {
  position: relative;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100px;
    bottom: 0;
    height: 20px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
  }

  &:before {
    left: -20px;
    right: 55%;
  }

  &:after {
    left: 55%;
    right: -20px;
  }

  .tower {
    position: absolute;
    background-image: url(svgs/tower.svg);
    background-size: 110px 110px;
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    left: 50%;
    top: 55px;
    margin-left: -55px;
  }
}

#home_slider {
  > .et_pb_row {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#home_about {
  padding-top: 0;

  .et_pb_row {
    padding: 150px;
    position: relative;
  }

  .et_pb_column, .et_pb_code_inner {
    position: static;
  }
}

.corner {
  background-image: url(svgs/corner.svg);
  background-size: 200px;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;

  &.top-left {
    left: 60px;
    top: 90px;
  }

  &.top-right {
    transform: rotate(90deg);
    right: 60px;
    top: 90px;
  }

  &.bottom-left {
    transform: rotate(-90deg);
    left: 60px;
    bottom: 90px;
  }

  &.bottom-right {
    transform: rotate(180deg);
    right: 60px;
    bottom: 90px;
  }
}

.instagram {
  width: 90%;
  margin: 0 auto;
  position: relative;
  background-color: $white;
  padding-top: 20px;

  > .instagram-tag {
    position: absolute;
    text-transform: uppercase;
    font-family: $montserrat;
    font-weight: bold;
    line-height: 15px;
    padding-left: 30px;
  }

  > #sb_instagram[style] {
    padding-bottom: 0 !important;
  }
}

.narrow-column {
  width: 90%;
  margin: 0 auto !important;
}

.et_pb_social_media_follow {
  margin: 0 auto 20px !important;

  li {
    vertical-align: top;
    margin-bottom: 0;
  }

  &:before {
    font-size: 12px;
    font-family: $montserrat;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
    vertical-align: bottom;
    line-height: 32px;
  }
}

a.cc-link:link {
  color: $white !important;
  font-weight: bold;
}


@media only screen and (max-width: 980px) {
  #main-header .et_menu_container {
    > .header-left {
      flex: 0 0 auto;
    }

    > .header-right {
      flex: 1 1 auto;
    }
  }

  #top-menu-nav {
    border-left: 0;

    &:before {
      border-top: 0;
    }
  }

  .et_header_style_left #logo,
  .et_header_style_split #logo {
    max-width: 90%;
    padding: 5px 0;
  }

  .et_header_style_left .mobile_menu_bar,
  .et_header_style_split .mobile_menu_bar {
    padding-bottom: 0;
  }

  #et_mobile_nav_menu {
    height: 100%;

    .mobile_nav {
      height: 100%;

      .mobile_menu_bar {
        height: 100%;

        &:before {
          position: static;
          line-height: 45px;
          padding: 0 8px;
        }
      }
    }
  }

  #age_of_light {
    display: block;

    > .et_pb_column {
      display: block;
      width: 100%;

      &:first-child {
        margin-bottom: 0;
      }

      &:last-child {
        > .et_pb_image {
          max-width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}